.header {
  grid-column: 1;
  grid-row: 1;
  padding: 1rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem;

  border-radius: 16px;
  background: linear-gradient(145deg, #1e1c2a, #252334);
  box-shadow: 2px 2px 6px #1e1c2a, -2px -2px 6px #3b3948;

  &__avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 700;
    flex: auto;
  }

  &__btn {
    all: unset;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover {
      animation-name: spin;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 12rem;
    height: 12rem;
  }

  &__date {
    font-size: 1.4rem;
    font-weight: 700;
  }
}
